/********Generel********/
body {
  margin: auto;
  max-width: 1200px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.mainproduct {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 100px;
}
main {
  margin-bottom: 100px;
  margin: auto;
}

/**********Fonts***************/
h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
}
dl {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*********Header********/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 50px;
}
.logo {
  display: flex;
  font-size: 4rem;
  color: black;
  font-weight: bolder;
  align-items: center;
  gap: 10px;
  font-style: italic;
}
.logo :hover {
  font-style: normal;
}
.logo img {
  width: 70px;
  height: auto;
  margin-left: 5px;
}
nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 20;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.menu a:hover {
  font-style: italic;
}

/********Index********/
.header_fp {
  font-size: 3rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  letter-spacing: -3px;
  text-transform: uppercase;
  line-height: 1px;
}
.header2_fp {
  font-size: 1.4rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 50px;
}
.frontpage {
  margin-top: 200px;
  text-align: center;
}
.button_fp {
  background-color: grey;
  color: white;
  padding: 1.3rem;
  border-radius: 100px;
  margin: 20px;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.button_fp:hover {
  font-style: italic;
}

/********Categories********/
.header_productlist {
  font-size: 2rem;
}
.main_pl {
  max-width: 1200px;
  margin: auto;
}
.categorylist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.categorylist .text_cl {
  position: absolute;
  translate: 70px -160px;
  font-size: 1.8rem;
  color: white;
}
.categorylist .button_cl {
  position: absolute;
  text-decoration: none;
  color: white;
  background-color: grey;
  border-radius: 100px;
  justify-content: center;
  font-size: 1.2rem;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 2px;
  translate: 70px -80px;
}

.categorylist img {
  width: 500px;
  opacity: 0.5;
  border-radius: 5px;
}
.categorylist img:hover {
  opacity: 1;
}
/********Productlist********/
.grid {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.description {
  font-size: 1rem;
  color: grey;
  margin-bottom: 1px;
}

.smallProduct img {
  border-radius: 5px;
  border: 0.5px solid lightgray;
}
.smallProduct img:hover {
  opacity: 0.5;
}

.smallProduct .sale {
  display: none;
  content: "SALE";
  position: absolute;
  background: whitesmoke;
  color: black;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  translate: 263px -630px;
  line-height: 0.3rem;
  letter-spacing: 1px;
}

.smallProduct.sales .sale {
  display: block;
}

.smallProduct .soldout {
  content: "SOLD OUT";
  position: absolute;
  background: rgba(0, 0, 0, 0.47);
  color: white;
  padding: 14.6rem 6.8rem;
  font-size: 2rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 5px;
  z-index: 1;
}

.smallProduct .discount {
  color: green;
}

.smallProduct .discounted {
  color: green;
}
.smallProduct .pricediscount {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: fit-content;
  margin-bottom: 1px;
  display: none;
}

.smallProduct.pricediscounted .pricediscount {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: fit-content;
  margin-bottom: 1px;
  display: block;
}

.smallProduct .oldprice {
  text-decoration: line-through;
  color: grey;
}

.smallProduct p {
  margin-bottom: 10px;
}
/********Product********/
.product {
  margin: auto;
  display: flex;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.product img {
  height: 800px;
  border-radius: 5px;
}

.purchaseBox {
  color: black;
  padding: 3rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1rem;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.purchaseBox h3 {
  font-size: 1.7rem;
}
.purchaseBox h2 {
  font-size: 1.2rem;
  margin-top: 20px;
}
.purchaseBox p {
  font-size: 1rem;
  line-height: 1rem;
}
.purchaseBox .text_p {
  color: grey;
}

.purchaseBox .description {
  color: rgb(78, 78, 78);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  line-height: 1.2rem;
}
.purchaseBox form label {
  gap: 7rem;
}

.purchaseBox label {
  font-weight: 900;
  display: flex;
  font-size: 1.2rem;
  margin-bottom: 100px;
  gap: 10px;
  margin-top: 3rem;
  white-space: nowrap;
}

.product select {
  min-width: 150px;
}

select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid lightgray;
  border-radius: 10px;
  color: black;
  height: 2.5rem;
  background-color: whitesmoke;
}
select:hover {
  background-color: rgb(225, 224, 224);
}
.purchaseBox input {
  display: block;
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: 1px solid lightgray;
  border-radius: 10px;
  color: black;
  background-color: grey;
}
.purchaseBox input:hover {
  background-color: rgb(97, 97, 97);
}
.purchaseBox button {
  display: block;
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: 1px solid lightgray;
  border-radius: 10px;
  color: black;
  background-color: whitesmoke;
}
.purchaseBox button:hover {
  background-color: lightgrey;
}
.divider {
  margin-top: 50px;
  margin-bottom: 112px;
}
